[submodule ".registry"]
	path = .registry
	url = https://github.com/jthomasmock/universe
	branch = HEAD
[submodule "gtExtras"]
	path = gtExtras
	url = https://github.com/jthomasmock/gtExtras
[submodule "webshot2"]
	path = webshot2
	url = https://github.com/rstudio/webshot2
